{% extends "layout.html" %}

{% block pageTitle %}
  Buckinghamshire Council
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Complain about our services
      </h1>

      <p>
        If you've got a complaint about a Buckinghamshire Council service, let us know.
  		</p>
  		<p>
    		We'll respond within <b>10 working days</b> or let you know if it cannot be dealt with under our complaints policy. 
    		For more information, see how we deal with complaints.
  		</p>


      <a href="complaints-form.html" role="button" draggable="false" class="govuk-button"  data-module="govuk-button">
        Start your complaint
      </a>

  </div>
{% endblock %}
