{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Buckinghamshire Council user testing
{% endblock %}

{% block cssOverrides %}
<style>
.govuk-checkboxes__conditional {
  border: none;
  margin: 20px 0;
  padding: 0;
}
</style>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Buckinghamshire Council user testing
      </h1>

      <p>
        Thank you for agreeing to test the Buckinghamshire Council website. 
  		</p>
      <p>
        We are asking you to test a <b>prototype of our new complaints form</b>: 
        
      <ul class="govuk-list govuk-list--bullet">
        <li>Try to think of something that you might want to write a complaint about and fill in the form.
        </li>
        <li>Keep in mind that this is just a prototype for testing and the complaint will NOT be submitted to our live system.
        </li>
      </ul>   
  		</p>
  		<br />
  		<p class="govuk-body-s">
    		<b>We will be tracking your mouse movements and text input while you are completing the form. This will only be visible to the research team.</b>
  		</p>
  		
{% set startTesting %}
      <a href="complaints-start.html" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
        Start testing
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>
{% endset -%}

{{ govukCheckboxes({
  idPrefix: "consent",
  name: "consent",
  items: [
    {
      value: "agree-consent",
      text: "I agree to this testing session being recorded",
      conditional: {
        html: startTesting,
        classes: "border: none"
      }
    }
  ]
}) }}  		



  </div>
{% endblock %}
