{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Buckinghamshire Council
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Thank you
      </h1>

      <p>
        The recording of your session will help us improve our website. 
  		</p>
      <p>
        Please, leave additional comments by pressing the "Feedback" button on the right side of the page.
  		</p>
  		<br />

  </div>
{% endblock %}
